body {
    background: url("../images/loginpage.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #383e4b;
}

h3 {
    font-weight: bolder;
}
